html {
    overflow-x: hidden;
}

body {
    background-image: url('../img/vimo-bg.png');
    background-position: center top;
    background-size: 210vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}


/* Navbar styles */
.navbar {
    border-radius: 0;
    background-color: #1e1b1b !important;
    border-top: solid 3px #c62828;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5%;
    padding-right: 5% !important;
    font-weight: 500 !important;
}

.navbar-brand {
    padding: 0;
}

.nav-item {
    margin-left: 30px;
}

.nav-link {
    font-size: 20px;
    font-weight: regular;
}

.active a {
    color: #c62828 !important;
    background-color: #1e1b1b !important;
    border-bottom: solid #c62828 3px;
    line-height: 25px;
}

.nav-icon {
    color: white !important;
    font-size: 30px;
    margin-left: 20px;
}

/* Content container div */
#content {
    padding-top: 5px;
}

.container {
    color: #1e1b1b;
    background-color: rgba(255, 255, 255, 0.75);
    border-width: 2px !important;
    padding: 10px;
    margin: 10px;
    padding-left: 20px;
}

.sidebar {

}

.home-main-heading {
    margin-top: 10vh;
}

/* Home content */
.home-main-logo {
    max-height: 50vh;
    max-width: 30vw;
    /* margin-right: 20vh !important; */
}

/* login area */
.login-area a {
    color: white;
    font-size: 16px;
    margin-right: 20px;
    display: flex !important;
    align-items: center !important;
    height: 100%;
}

.dropdown-menu {
    width: 15vw;
    padding: 20px;
    padding-right: 40px;
}

.dropdown-menu input, input:focus {
    color: #1e1b1b !important;
    border-color: #1e1b1b !important;
}

.dropdown-menu a:hover {
    color: #1e1b1b !important;
}

#pw-forgot:hover {
    color: #c62828 !important;
    text-decoration: none !important;
}

#dropdown-logout:hover {
    color: #c62828 !important;
    text-decoration: none !important;
}

.dropdown-item:hover {
    background-color: white !important;
    color: #c62828 !important;
}

.btn-dropdown-submit {
    width: 100%;
    background-color: #1e1b1b;
    border-color: #1e1b1b !important;
}

.btn-dropdown-submit:hover {
    background-color: #c62828 !important;
    border-color: #c62828 !important;
}
