body {
    background-image: url('../img/vimo-bg.png');
    background-position: center top;
    background-size: 210vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}


/* Navbar styles */
.navbar {
    border-radius: 0;
    background-color: #1e1b1b !important;
    border-top: solid 3px #c62828;
    height: 75px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5%;
    padding-right: 5% !important;
}

.navbar-brand {
    padding: 0;
}

.nav-item {
    margin-left: 30px;
}

.nav-link {
    font-size: 20px;
    font-weight: regular;
}

.active a {
    color: #c62828 !important;
    /* background-color: #1e1b1b !important; */
}

.nav-icon {
    color: white !important;
    font-size: 40px;
    margin-left: 20px;
}

/* Content container div */
#content {
    padding-top: 5px;
}

.container {
    color: #1e1b1b;
    background-color: rgba(255, 255, 255, 0.75);
    border-width: 2px !important;
    padding: 10px;
    margin: 10px;
}

.sidebar {

}

.media-heading {
    margin-top: 10vh;
}

/* Home content */
.home-main-logo {
    max-height: 50vh;
    max-width: 30vw;
    /* margin-right: 20vh !important; */
}
